<div class="container">
  <h1>Stupid Coaching</h1>
  <form action="/answer" method="get">
    <div class="form-group">
      <p>
        <label for="question">Ask your coach anything</label>
      </p>
      <div class="input-group">
        <input type="text" name="question" placeholder="What's your question?" id="userInput">
        <input type="submit" value="Ask!" class="btn btn-primary" id="button">
      </div>
    </div>
  </form>
</div>
